/* common rules  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* layer per scurire l'immagine */
.layover {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(241, 99, 123, 0.5);
}

.main_container {
  width: 90%;
  margin: auto;
}
/* header-css */
.logo {
  height: 80px;
}
.logo img {
  height: 80%;
  padding-right: 20px;
}
nav {
  height: 40px;
  margin-top: 20px;
}
nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #a6a6a6;
  padding-right: 5px;
}

/* main-css */

/* heroimage-css */
.heroimage {
  background: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  border-radius: 10px;
}
.heroimage .text {
  position: absolute;
  top: 60%;
  left: 5%;
}

.text span {
  color: white;
  display: block;
  width: 50%;
}
.text > :first-child {
  font-size: 2.2rem;
}
.section_title {
  height: 80px;
  margin: 20px 0;
}
.section_title h1 {
  font-size: 2.5rem;
}
.section_title span {
  color: #a6a6a6;
}

.container {
  margin-bottom: 20px;
}
.sidebar_l,
.sidebar_r {
  width: 25%;
  float: left;
}
.img_section img {
  max-width: 100%;
}
.images-top {
  height: 270px;
}

.sidebar_l .images-top {
  background-image: url("../img/img-1.jpg");
}
.sidebar_r .images-top {
  background-image: url("../img/img-2.jpg");
  background-repeat: no-repeat;
}

.main_content {
  padding: 0 10px;
  width: 50%;
  float: left;
}
.main_content .images-top {
  background-image: url("../img/banner-2.jpg");
  background-position: center;
}

section {
  padding-top: 20px;
}
section p {
  color: #918d8d;
  margin-top: 20px;
}
#main_footer {
  text-align: center;
}
#main_footer #heart {
  color: red;
  font-size: 1.5rem;
}
}
